@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version

//tablet version
@media (max-width: 1024px) {

  .resume {

    // height: 100vh;
    // width: 100vw;
    background-color: v.$primary-color;
  
  }
}

//mobil version
@media (max-width: 375px) {

  .resume {

    // height: 80%;
    // width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: center);
  
  }
}


