@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version
@media screen and (min-width: 1024px) {

  .works {

    height: 100%;
    width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: center);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    animation: fadeRight 0.5s ease-out;
  
    &__title {
  
      width: 100%;
      padding: 2.6em 0;
      border-bottom: 1px solid v.$third-color;
      border-image: linear-gradient(28deg, v.$third-color, white) 1;
      min-height: 14%;
      max-height: 14%;
  
      &--text {
  
        padding: 0 1.4em;
        font-size: calc(v.$font-size / 0.8);
        font-weight: 700;
      }
  
      &--text span {
  
        color: v.$secondary-color;
      }
    }
  
    &__filter {
  
      @include flex($direction: row, $justify: space-evenly, $align: center);
      padding: 1.4em;
      width: 100%;
      border-bottom: 1px solid v.$third-color;
      border-image: linear-gradient(28deg, v.$third-color, white) 1;
      min-height: 10%;
      max-height: 10%;
  
      &__btn {
  
        padding: 0.3em;
  
        &--input {
  
          display: none;
        }
      }
    }
  
    &__content {
  
      @include flex($direction: row, $justify: center, $align: center);
      flex-wrap: wrap;
      padding: 1.4em 1.4em 1.4em 3.4em;
      max-width: 100%;
    }
  
  }
}

//mobil version
@media screen and (max-width: 767px) {

  .works {

    height: 100%;
    width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: center);
    position: relative;

    &__title {

      width: 100%;
      padding: 1.4em 0;
      border-bottom: 1px solid v.$third-color;
      min-height: auto;
      max-height: auto;

      &--text {

        padding: 0 1.4em;
        font-size: calc(v.$font-size / 0.8);
        font-weight: 700;
      }

      &--text span {

        color: v.$secondary-color;
      }
    }

    &__filter {

      @include flex($direction: row, $justify: space-evenly, $align: center);
      padding: 1.4em;
      width: 100%;
      border-bottom: 1px solid v.$third-color;
      border-image: linear-gradient(100deg, v.$third-color, white) 1;
      min-height: auto;
      max-height: auto;

      &__btn {

        padding: 0.3em;

        &--input {

          display: none;
        }
      }
    }

    &__content {

      @include flex($direction: column, $justify: flex-start, $align: center);
      flex-wrap: nowrap;
      padding: 1.4em;
      min-height: auto;
      max-height: auto;
      max-width: 100%;
    }
  
  }
}
// @media screen and (min-width: 320px) and (max-width: 420px) {

//   .works {

//     height: 100%;
//     width: 100%;
//     background-color: v.$primary-color;
//     @include flex($direction: column, $justify: flex-start, $align: center);
//     position: relative;

//     &__title {

//       width: 100%;
//       padding: 1.4em 0;
//       border-bottom: 1px solid v.$third-color;
//       min-height: auto;
//       max-height: auto;

//       &--text {

//         padding: 0 1.4em;
//         font-size: calc(v.$font-size / 0.8);
//         font-weight: 700;
//       }

//       &--text span {

//         color: v.$secondary-color;
//       }
//     }

//     &__filter {

//       @include flex($direction: row, $justify: space-evenly, $align: center);
//       padding: 1.4em;
//       width: 100%;
//       border-bottom: 1px solid v.$third-color;
//       border-image: linear-gradient(100deg, v.$third-color, white) 1;
//       min-height: auto;
//       max-height: auto;

//       &__btn {

//         padding: 0.3em;

//         &--input {

//           display: none;
//         }
//       }
//     }

//     &__content {

//       @include flex($direction: column, $justify: flex-start, $align: center);
//       flex-wrap: nowrap;
//       padding: 1.4em;
//       min-height: auto;
//       max-height: auto;
//       max-width: 100%;
//     }
  
//   }
// }

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  25% {
    opacity: 0;
    transform: translateX(-75%);

  }

  50% {
    opacity: 0;
    transform: translateX(-50%);
}

  75% {
    opacity: 0.5;
    transform: translateX(-25%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


