@use '../../styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version

//tablet version

//mobil version
@media (max-width: 375px) {

  .portfolio {

    height: 100%;
    width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: center);
    // background: linear-gradient(98deg, rgba(34,139,34,1) 60%, rgba(255,255,255,1) 100%);
    // background: linear-gradient(11deg, rgba(34, 139, 34,1) 0%, rgba(51,217,51,1) 100%), no-repeat;
    // background-size: 400% 400%;
	  // animation: gradient 1s ease infinite;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


