@use '../../styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version
@media screen and (min-width: 1024px) {

  .portfolio {

    height: 100%;
    width: 100%;
    background-color: transparent;
    @include flex($direction: row, $justify: flex-start, $align: center);
    border-radius: 5px;
    position: relative;
  }
}

//mobil version
@media screen and (max-width: 767px) {

  .portfolio {

    height: 100%;
    width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: center);
    border-radius: 0px;
    position:initial
  }
}
// @media screen and (min-width: 320px) and (max-width: 420px) {

//   .portfolio {

//     height: 100%;
//     width: 100%;
//     background-color: v.$primary-color;
//     @include flex($direction: column, $justify: flex-start, $align: center);
//     border-radius: 0px;
//     position:initial
//   }
// }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

