@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version

//tablet version
@media screen and (min-width: 421px) and (max-width: 1024px) {

  .modale {

    height: auto;
    width: 90%;
    position: absolute;
    top: 1%;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: center);
    -webkit-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
    

    &__picture {

      height: 30%;
      width: 100%;
      position: relative;
      @include flex($direction: row, $justify: center, $align: center);

      &--img {

        max-height: 100%;
        width: 100%;
      }

      &--cross {

        position: absolute;
        top: 3%;
        left: 93%;
        font-size: calc(v.$font-size / 0.7);
      }
    }

    &__desc {

      height: 70%;
      width: 100%;
      padding: 1.4em;
      @include flex($direction: column, $justify: flex-start, $align: flex-start);

      &--title {

        font-size: calc(v.$font-size / 0.8);
        font-weight: 700;
      }

      &--subTitle {

        color: #222;
        margin: 1.4em 0;
      }

      &--text {

        font-size: calc(v.$font-size / 1);
        line-height: 1.4;
        
      }

      &__listTechnos {

        height: 40%;
        margin: 1.1em 0 1.1em 0.5em;
        // @include flex($direction: column, $justify: space-around, $align: flex-start);

        &--item {

        margin-bottom: 0.5em; 
        
        }
      }

      &__btns {

        height: 40%;
        width: 90%;
        @include flex($direction: row, $justify: flex-start, $align: center);

        &--link {

          background-color: v.$secondary-color;
          padding: 0.7em;
          font-size: calc(v.$font-size / 1.2);
          border-radius: 3px;
          color: v.$primary-color;
          margin-right: 1.2em;
          
        }
      }
    }
  }
}

//mobil version
@media screen and (min-width: 320px) and (max-width: 420px) {

    .modale {

      height: auto;
      width: 90%;
      position: absolute;
      top: 1%;
      z-index: 999;
      margin-left: auto;
      margin-right: auto;
      background-color: v.$primary-color;
      @include flex($direction: column, $justify: flex-start, $align: center);
      -webkit-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
      box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.75);
      

      &__picture {

        height: 30%;
        width: 100%;
        position: relative;
        @include flex($direction: row, $justify: center, $align: center);

        &--img {

          max-height: 100%;
          width: 100%;
        }

        &--cross {

          position: absolute;
          top: 3%;
          left: 93%;
          font-size: calc(v.$font-size / 0.7);
        }
      }

      &__desc {

        height: 70%;
        width: 100%;
        padding: 1.4em;
        @include flex($direction: column, $justify: flex-start, $align: flex-start);

        &--title {

          font-size: calc(v.$font-size / 0.8);
          font-weight: 700;
        }

        &--subTitle {

          color: #222;
          margin: 1.4em 0;
        }

        &--text {

          font-size: calc(v.$font-size / 1);
          line-height: 1.4;
          
        }

        &__listTechnos {

          height: 40%;
          margin: 1.1em 0 1.1em 0.5em;
          // @include flex($direction: column, $justify: space-around, $align: flex-start);

          &--item {

          margin-bottom: 0.5em; 
          
          }
        }

        &__btns {

          height: 40%;
          width: 90%;
          @include flex($direction: row, $justify: flex-start, $align: center);

          &--link {

            background-color: v.$secondary-color;
            padding: 0.7em;
            font-size: calc(v.$font-size / 1.2);
            border-radius: 3px;
            color: v.$primary-color;
            margin-right: 1.2em;
            
          }
        }
      }
    }
}


