//primary color
$primary-color: white;

//secondary color
$secondary-color:	#228B22;

//third color
$third-color: grey;

//font style (300, 400, 700)
$font: 'Ubuntu', sans-serif;

//font size
$font-size: 16px;
