@use 'reset';
@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@media screen and (min-width: 1024px) {

  body {
  
    font-family: v.$font;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg,#228B22,#20B2AA,	#66CDAA);
    background-size: 400% 400%;
    // background: linear-gradient(38deg, rgba(32, 178, 170) 0%, rgba(0, 128, 0) 100%), no-repeat;
    animation: gradient 8s ease infinite;
    // background-size: 400% 400%;
    @include flex($direction: row, $justify: center, $align: center);
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: v.$third-color v.$secondary-color;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
    
  }
  
  *::-webkit-scrollbar-track {
    background: v.$third-color;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: v.$secondary-color;
    border-radius: 3px;
  }
  
  #root {
  
    height: 90%;
    width: 90%;
    @include flex($direction: row, $justify: center, $align: center);
  }
}

@media screen and (max-width: 767px) {

  body {
  
    font-family: v.$font;
    height: 100vh;
    width: 100vw;
    background: v.$primary-color;
  }

  #root {

    height: 100%;
    width: 100%;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// @media screen and (min-width: 320px) and (max-width: 420px) {

//   body {
  
//     font-family: v.$font;
//     height: 100vh;
//     width: 100vw;
//     background: v.$primary-color;
//   }

//   #root {

//     height: 100%;
//     width: 100%;
//   }
// }

// @keyframes gradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }



