@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version
@media screen and (min-width: 1024px) {

  .subHeader {

    height: 40%;
    width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: flex-start);
    padding: 1em;
  
    &--name {
  
      font-weight: 700;
      margin-bottom: 5px;
    }
  
    &--job {
  
      font-size: calc(v.$font-size / 1.1);
      color: v.$secondary-color;
    }
  }
}


//mobil version
@media screen and (max-width: 767px) {

  .subHeader {

    height: 50%;
    width: 100%;
    background-color: v.$primary-color;
    @include flex($direction: column, $justify: flex-start, $align: flex-start);
    padding: 1.5em;

    &--name {

      font-weight: 700;
      margin-bottom: 5px;
    }

    &--job {

      font-size: calc(v.$font-size / 1.1);
      color: v.$secondary-color;
    }
  }
}
// @media screen and (min-width: 320px) and (max-width: 420px) {

//   .subHeader {

//     height: 50%;
//     width: 100%;
//     background-color: v.$primary-color;
//     @include flex($direction: column, $justify: flex-start, $align: flex-start);
//     padding: 1.5em;

//     &--name {

//       font-weight: 700;
//       margin-bottom: 5px;
//     }

//     &--job {

//       font-size: calc(v.$font-size / 1.1);
//       color: v.$secondary-color;
//     }
//   }
// }

