@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version

//tablet version

//mobil version
@media screen and (min-width: 320px) and (max-width: 420px) {

  .succes {

    padding: 1.2em;
    border-radius: 3px;
    // transition: 2s;
    position: absolute;
    top: 90%;
    // left: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: v.$secondary-color;
    color: v.$primary-color;

    &--text {


    }
  }
}


