@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

//desktop version
@media screen and (min-width: 1024px) {

  .succes {

    padding: 1.2em;
    border-radius: 3px;
    position: absolute;
    top: 163%;
    margin-left: auto;
    margin-right: auto;
    background-color: v.$secondary-color;
    color: v.$primary-color;
    animation: fade 0.3s ease-out;
  }
}


//mobil version
@media screen and (max-width: 767px) {

  .succes {

    padding: 1.2em;
    border-radius: 3px;
    position: absolute;
    top: 169%;
    margin-left: auto;
    margin-right: auto;
    background-color: v.$secondary-color;
    color: v.$primary-color;
  }
}
// @media screen and (min-width: 320px) and (max-width: 420px) {

//   .succes {

//     padding: 1.2em;
//     border-radius: 3px;
//     position: absolute;
//     top: 169%;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: v.$secondary-color;
//     color: v.$primary-color;
//   }
// }

@keyframes fade {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

